@use "../variables" as *

.coursesPage
  padding: 0 18px 10px
  background-color: $white
  display: grid
  gap: 20px
  border-radius: 10px


.coursesPage_buttons
  display: flex
  flex-direction: row
  gap: 20px