.jopa {
    display: grid;
    grid-template-rows: 20px 1fr 20px;
    gap: 64px;
    min-height: 100svh;
    padding: 80px;
    place-items: center center;
    font-family: var(--font-geist-sans);

    --gray-rgb: 0, 0, 0;
    --gray-alpha-200: rgb(var(--gray-rgb), 0.08);
    --gray-alpha-100: rgb(var(--gray-rgb), 0.05);
    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;
    
}
