.card
  max-width: 350px
  padding: 10px
  display: grid
  gap: 16px
  grid-template-rows: 1fr
  font-family: Open Sans, sans-serif
  border: 1px solid #F5F5F5

.imageBlock
  max-width: 100%
  background-color: #E5F4FF
  padding: 15px
  display: grid
  justify-content: center
  cursor: pointer

  img
    max-width: 100%


.mainInf
  display: grid
  gap: 5px

  h2
    font-weight: 700
    font-size: 18px
    line-height: 18px

  p
    font-weight: 400
    color: #6E6E6E
    font-size: 14px
    line-height: 21px

    a
      text-decoration: underline


.atributes
  display: flex
  align-items: center
  gap: 5px

  .date
    color: #4B4B4B

  p
    font-weight: 400
    font-size: 12px
    line-height: 12px


.href
  display: grid
  grid-auto-rows: 1fr
  grid-template-columns: 1fr 1fr
  align-items: center

  p
    color: #4B4B4B

  a
    display: flex
    align-items: center
    justify-content: flex-end
    color: #1473E6